@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

.pokeball-not-save{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeball {
  width: 200px;
  height: 200px;
}

.not-save {
  color: silver;
  font-family: "ZCOOL KuaiLe";
  font-weight: bold;
  font-size: 35px;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
}
