.poke-electric {
  background-color: #ffea7066;
}

.poke-normal {
  background-color: #b0939866;
}
.poke-fire {
  background-color: #ff675c66;
}
.poke-water {
  background-color: #0596c766;
}
.poke-ice {
  background-color: #afeafd66;
}
.poke-rock {
  background-color: #99979966;
}
.poke-flying {
  background-color: #7ae7c766;
}
.poke-grass {
  background-color: #4a968166;
}
.poke-psychic {
  background-color: #ffc6d966;
}
.poke-ghost {
  background-color: #561d2566;
}
.poke-bug {
  background-color: #a2faa366;
}
.poke-poison {
  background-color: #79566366;
}
.poke-ground {
  background-color: #d2b07466;
}
.poke-dragon {
  background-color: #da627d66;
}
.poke-steel {
  background-color: #1d8a9966;
}
.poke-fighting {
  background-color: #2f2f2f66;
}
.poke-fairy {
  background-color: #cca9dd66;
}
.poke-dark {
  background-color: #37323266;
}

.item {
  display: inline-block;
}

.item + .item::before {
  content: "/";
}
